<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
  <div class="logo">
    <img src="assets/logo.svg" alt="Logo" />
    <span>MarketMeet</span>
  </div>
  <input type="text" placeholder="Buscar produtos, pessoas ou marcas..." />
  <div class="actions">
    <button class="filter">Filtros</button>
    <img src="assets/avatar.jpg" alt="Avatar" class="avatar" />
  </div>
</header>

</body>
</html>