<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- home-page.component.html -->
<div class="layout">
  <app-header class="header"></app-header>
  
  <aside class="sidebar-left">
    <app-sidebar-categorias></app-sidebar-categorias>
    <app-sidebar-sugestoes></app-sidebar-sugestoes>
  </aside>

  <main class="feed">
    <app-feed></app-feed>
  </main>
  
</div>

</body>
</html>